section.about-us {
    padding-top: 80px;
}

.about-us-content {
    display: flex;
    flex: 0 0 50%;
    align-items: center;

    column-gap: 100px;
}

.about-us-title {
    font-size: 32px;
}

.about-us-subtitle {
    padding-top: 20px;

    font-size: 16px;
    
    line-height: 1.5;
}

@media(max-width: 1200px) {
    .about-us-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-us-img {
        display: none;
    }

    .about-us-info {
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 70%;
        align-items: center;
        justify-content: center;
    }
}