section.achivements {
    padding-top: 80px;
}

.achivements-title {
    font-size: 32px;
    text-align: center;
}

.achivement-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
}

.achivement-list img {
    width: 100%;
    max-width: 200px;
    height: auto;
    object-fit: cover;
}

