section.achivements {
    padding-top: 80px;
}

.achivements-title {
    font-size: 32px;
    text-align: center;
}

.achivement-list {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.achivement-list img{
    height: 250px;
}

