section.address {
    padding-top: 80px;
}

.address-content {
    display: flex;
    justify-content: space-between;
}

.contacts-title {
    font-size: 32px;
}

.address-info-block, .phone-block {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;

    padding: 40px 100px;

    background-color: #F5F5F5;
}

.address-info, .phone-info, .email-info {
    display: flex;
    column-gap: 10px;
}

.address-text, .phone-text, .email-text {
    font-size: 14px;
}

.address-address, .address-phone, .address-email {
    padding-top: 10px;
    font-size: 16px;
}

.address-phone, .address-email {
    transition: .2s linear;
}

.address-phone:hover, .address-email:hover {
    color: #EF7F1A;
}

.address-hr {
    margin-top: 30px;
    opacity: 60%;
}

@media(max-width: 1246px) {
    .address-content {
        flex-direction: column;
        row-gap: 15px;
    }

    .address-img {
        height: 70%;
    }

    .address-info-block, .phone-block, .email-block {
        align-items: center;
        text-align: center;
    }
}
