section.announcements {
    padding-top: 100px;
    position: relative;
}

.announcements-title {
    text-align: center;
    font-size: 32px;
}

.announcement-subtitle {
    font-size: 18px;
    color: #666666;
    letter-spacing: 1.5px;
    padding-top: 20px;
    text-align: center;
}

.announcement-item {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
    justify-content: center;
}

.announcement-item-title {
    font-size: 16px;
}

.announcement-item-subtitle {
    font-size: 14px;
}
