section.form {
    padding-top: 80px;
}

.form-content {
    border-radius: 20px;
    height: 533px;

    background-image: url("../imgs/bg/form-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    padding: 80px 50px;

    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
}

.form-title {
    font-size: 32px;
    color: #fff;
    text-transform: uppercase;
}

.form-subtitle {
    font-size: 18px;
    color: #D2D2D2;
}

form#form {
    display: flex;
    column-gap: 15px;
}

input[type="text"] {
    border: none;
    padding: 10px 15px;
    border-radius: 100px;
}

input[type="text"]:focus {
    outline: none;
}

.submit-form-btn {
    background-color: #EF7F1A;
    color: #fff;
    font-weight: 600;

    border: 2px solid #EF7F1A;

    padding: 10px 45px;
    border-radius: 100px;
}


.submit-or-call {
    display: flex;
    align-items: center;
    column-gap: 15px;

    flex-direction: row;
}

.form-call {
    display: flex;
    align-items: center;

    column-gap: 10px;
}

.or-number {
    display: flex;
    flex-direction: column;

    row-gap: 5px;
}

.or-number p {
    font-size: 12px;
    color: #D2D2D2;
}

.or-number h6 {
    font-size: 14px;
    text-decoration: underline;
    color: #fff;
}

@media (max-width: 950px) {
    .form {
        margin-top: 40px;
        padding-top: 0;
        background-color: #212121;
    }

    .form-content {
        align-items: center;
        text-align: center;
        background-image: none;
    }
}

@media (max-width: 550px) {
    #form {
        flex-direction: column;
        row-gap: 15px;
    }

    input[type="text"] {
        width: 100%;
    }

    .submit-or-call {
        flex-direction: column;
        row-gap: 20px;
    }
}