header {
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 10px 0;
    background-color: #fff;
}

.header-content {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.nav-bar {
    display: flex;
    column-gap: 50px;
}

.main-nav {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.nav-menu {
    display: flex;
    gap: 15px;
}

#phone, #email {
    font-size: 14px;
    font-weight: 600;
    opacity: 65%;
    padding-left: 5px;
}

.nav-email {
    text-align: end;
}

ul.nav-menu {
    column-gap: 35px;
}

a.nav-item-link {
    font-weight: 600;
    transition: .2s linear;
}

a.nav-item-link:hover {
    color: #EF7F1A;
}

.order-call {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.call-nav {
    display: flex;
}

.phone-number {
    padding-left: 5px;
}

.call-btn {
    background-color: #EF7F1A;
    color: #fff;
    font-weight: 600;
    border: 2px solid #fff;
    border-radius: 100px;
    padding: 7px 25px;
    cursor: pointer;
    transition: .2s linear;
}

.call-btn:hover {
    background-color: #fff;
    border: 2px solid #EF7F1A;
    color: #EF7F1A;
}

#email, #phone {
    transition: .2s linear;
}

#email:hover, #phone:hover {
    color: #EF7F1A;
}

nav.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #eeeeee;
    color: #444444;
    z-index: 12;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile-nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.mobile-nav-menu a {
    font-size: 24px;
    text-align: center;
}

.exit-mobile-menu {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.exit-menu-structure {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.exit-menu-structure span {
    background-color: black;
    height: 3px;
    width: 25px;
    position: absolute;
    transition: transform 0.3s ease;
}

#exit-left {
    transform: rotate(-45deg);
}

#exit-right {
    transform: rotate(45deg);
}

.burger-menu {
    display: none;
}

.burger-menu-structure {
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.burger-menu-structure span {
    background-color: #212121;
    height: 3px;
    width: 25px;
    border-radius: 5%;
}

@media (max-width: 768px) {
    .nav-bar {
        display: none;
    }

    .burger-menu {
        display: flex;
    }

    .mobile-menu {
        display: flex;
    }
}
