section.how-we-work {
    padding-top: 80px;
}

.how-we-work-content {
    background-color: #F5F5F5;

    padding: 30px;

    border-radius: 20px;
}

.how-we-work-title {
    text-align: center;
    font-size: 32px;
}

.work-cards {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.work-card-title {
    color:#EF7F1A;
    font-size: 18px;
}

.work-card-subtitle {
    font-weight: 600;
    font-size: 14px;
}

.even-card {
    margin-top: 80px;
}

@media (max-width: 1054px) {
    img[isVector="true"] {
        display: none;
    }

    .even-card {
        margin-top: 0;
    }

    .work-cards {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        row-gap: 10px;

        text-align: center;
    }

}

@media (max-width: 580px) {
    .work-cards {
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
    }

}

