section.intro {
    position: relative; /* Ensure the pseudo-element is positioned relative to the intro section */
    padding: 150px 0;
}

section.intro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: url("../imgs/bg/intro-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    z-index: -1;
}

.intro-content {
    position: relative;
    z-index: 1;

    display: flex;
    flex-direction: column;
    row-gap: 35px;
}

.form-modal {
    display: none;
    padding-top: 40px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(38, 38, 38, 0.6);
    z-index: 10;
}

.intro-form-content {
    width: 1165px;
    border-radius: 20px;
    height: 533px;
}

.exit-modal {
    position: relative;
    top: -30px;
    left: 1000px;

    width: 50px;

    opacity: 70%;
    cursor: pointer;
}


.intro-title, .intro-subtitle, .intro-buttons, .intro-icons {
    position: relative;
    z-index: 2;
}

.intro-title {
    font-size: 48px;
    
    color: #fff;
    font-weight: 600;
}

.intro-subtitle {

    font-size: 24px;
    color: #fff;
    opacity: 70%;
}

.intro-buttons {
    display: flex;

    column-gap: 20px;
}

.leave-order {
    background-color: #EF7F1A;

    padding: 10px 20px;
    border: 2px solid #EF7F1A;
    border-radius: 100px;

    color: #fff;
    font-size: 14px;
    font-weight: 600;

    cursor: pointer;

    transition: .2s linear;
}

.leave-order:hover {
    background-color: transparent;
}

.check-service {
    border: 2px solid #fff;
    border-radius: 100px;

    font-weight: 600;
    font-size: 14px;
    color: #fff;
    
    padding: 10px 20px;

    cursor: pointer;
    transition: .2s linear;
}

.check-service:hover {
    color: #EF7F1A;
}

nav.intro-icons {
    display: flex;
    align-items: center;

    padding-top: 20px;

    justify-content: space-between;
}

.intro-socials {
    display: flex;
    flex-direction: column;

    row-gap: 5px;
}

.intro-socials img {
    height: 50px;
}