section.our-works {
    padding-top: 80px;
    position: relative;
}

.works-title {
    text-align: center;
    font-size: 32px;
}

.works-subtitle {
    text-align: center;
    color: #666666;
    padding-top: 10px;
    font-size: 18px;
}

.works-cards {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.work-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.work-card img {
    width: auto;
    max-width: 100%;
}

.example-card-title {
    padding-top: 15px;
    font-size: 18px;
    text-align: center;
}

.example-card-subtitle {
    padding-top: 10px;
    color: #666666;
    text-align: center;
}

.scroll-menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.scroll-menu {
    width: 40px;
}

@media (max-width: 1250px){
    .works-cards img{
        width: 70%;
    }
}

@media (max-width: 670px) {
    .works-cards {
        flex-direction: column;
    }

    .work-card {
        padding-top: 40px;
    }
}