section.services {
    padding-top: 80px;
}

.services-title, .services-subtitle {
    text-align: center;
}

.services-title {
    font-size: 32px;
}

.services-subtitle {
    padding-top: 10px;
    font-size: 20px;
    color: #666666;
}

.service-cards-1-row, .service-cards-2-row {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    transition: .2s linear;
}

.card-row-1 {
    cursor: pointer;
}

.card-row-1 {
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
}

.card-row-1 img {
    cursor: pointer;
}

.card-title {
    font-size: 20px;
    opacity: 85%;
}

.card-subtitle {
    font-size: 16px;
    opacity: 85%;
    padding-top: 10px;
}

#card-audit {
    background-image: url("../imgs/cards/card1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#card-projecting {
    background-image: url("../imgs/cards/card2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#card-start-monitoring {
    background-image: url("../imgs/cards/card3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#card-montage {
    background-image: url("../imgs/cards/card4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#card-security-service {
    background-image: url("../imgs/cards/card5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 768px) {
    .card-row-1 {
        width: calc(50% - 10px);
    }
}

@media (min-width: 992px) {
    .card-row-1 {
        width: calc(33.333% - 13.333px);
    }
}

@media (min-width: 1200px) {
    .services-title {
        font-size: 36px;
    }

    .services-subtitle {
        font-size: 22px;
    }

    .card-title {
        font-size: 22px;
    }

    .card-subtitle {
        font-size: 18px;
    }
}